<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление рамки</title>
</head>
<body>
    <h1>Добавьте рамку к изображению</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label for="upload">Выберите изображение:</label>
        {{ form.upload }}<br><br>
        <label for="border_size">Размер рамки (пикселей):</label>
        {{ form.border_size }} <br><br>
        {{ form.recaptcha }}
        <br><br>
        {{ form.submit }}
    </form>
</body>
</html>